/* .full{
    display:flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.lessonForm{
    background-color: #ff3c3c;
    width: 30%;
    position: sticky;
    top: 0;

} */
.lesson-screen-container {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
}

body{
  background-color: #ffffff;
}
.fixedForm {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #fff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 350px;
    height: auto;
    margin-top:130px;
    margin-right:50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* align-self:center; */
  }
  
  .fixedForm h2 {
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 5px;
    text-align: center;
    padding: 5px;
    color:#8c8e8f;
  }
  
  .fixedForm form {
    display: flex;
    flex-direction: column;
    width: 270px;
  }
  
  .fixedForm label {
    font-weight: bold;
    margin-bottom: 5px;
    color:#323638;
  }
  
  .fixedForm input {
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .fixedForm button {
    background: linear-gradient(rgb(9, 160, 97),rgb(17, 99, 81));
    color: #fff;
    padding: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  .fixedForm button:hover {
    background-color: #0056b3;
  }
  

.lessonBanner {
    background: url("F:\OnlineLearningPortal\Academia\React\src\Module\User\UserLesson\banner.webp") no-repeat;
    background-size: cover;
    padding-top: 4rem;
    padding-bottom: 2rem;
}

.lessonPath {
    display: flex;
    flex-direction: row;
    color: white;
    padding: 0px 0px 30px 100px;
    gap: 15px;
    font-size: x-large;
    justify-content: flex-start;
    align-items: center;
}

.list:hover {
    text-decoration: underline;
    cursor: pointer;
}

.currentScreen {
    color: rgba(145, 142, 142, 0.616);
    text-decoration: none;
}

.bannerContent{
    padding:10px 0 10px 100px ;
}
.lessonTitle{
    font-size: 35px;
    font-weight: 700;
    color: orange;
    padding: 0 0 10px 0;
    width: 70%;
}
.lessonSub{
    font-size: 28px;
    font-weight: 650;
    color: white;
    padding: 0 0 10px 0;
}
.lessonContent{
    font-size: 17px;
    font-weight: 400;
    color: whitesmoke;
    width: 50%;
    padding-bottom: 50px;
}

.lessonPrice{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 50%;
}
.priceText{
    font-size: 20px;
    font-weight: 700;
    color: whitesmoke;
}
.priceNum{
    font-size: 30px;
    font-weight: 700;
    color: orange;
    display: flex;
    align-items: center;
}
.priceNum span{
    text-decoration: line-through;
    margin-right: 8px;
    color: whitesmoke;
}

.bannerContainer {
    background: #01241b;
    color: #fff;
    padding: 1rem;
    border-radius: 8px;
    margin: 2rem 0;
    max-width: 100%; 
    width: fit-content;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
  }
  
  .col{
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-block-start: 10px;
    margin-block-end: 10px;
    padding-right: 35px;
    padding-left: 10px;
    font-weight: 700;
    white-space: normal;
  }
  .col span{
    font-weight: normal;
    font-size: 14px;
  }
  
  .border {
    border-right: 1px solid #dee2e6!important;
  }

  .lessonContent-2{
    padding: 50px 0 35px 100px;
}

  .highlight-container::before{
    content: "";
    display: block;
    height: 65%;
    width: 100%;
    position: absolute;
    background: #9bf8a1;
    transform: skew(20deg);
    top: 20px;
    left: 0;
  }
  .highlight-container {
    display: inline-block;
}

.highlight, .highlight-container {
    position: relative;
}

.c2Head{
    font-size: 35px;
    font-weight: 600;
    color: #212529;
    padding: 0 0 30px 0;
}
.c2HeadContent{
    color: #707070;
    font-size: 1rem;
    width: 60%;
}

.lessonFeatures{
    padding: 15px 0 35px 100px ;
}
.featureTitle{
    font-size: 35px;
    font-weight: 600;
    color: #212529;
    padding: 0 0 30px 0;
}

.keyCards{
    border-radius: 10px;
    margin: 0 30px 10px;
    color: #707070;
}
.keyCard1{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 10px;
}
.kc1{
    background-color: #e9ecf0;
    font-size: 1rem;
    padding: 15px 25px 15px 15px;
    border-radius: 10px; 
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.lessonTopic{
  padding: 50px 0 35px 100px ;
  background-color:#e9ecf0;
  width: 100%;
}
.topicTitle{
  font-size: 35px;
  font-weight: 600;
  color: #212529;
  padding: 0 0 30px 0;
}
.moduleTitle{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 700;
  color:#212529e0;
}
.module{
  width: 70%;
  background-color:#f6f6f9;
  padding: 25px;
  border-radius: 10px;
  border-left: 5px solid green;
}
.moduleGroup{
  border-radius: 10px;
  margin: 10px 0 50px 0 ;
  width: 70%;
  display: flex;
  /* align-items: flex-start; */
  /* flex-direction: column; */
}
.moduleContent li{
  list-style: disc;
  margin-bottom: 5px;
}
.moduleContent{
  padding: 20px 0 0 50px;
  font-size: 16px;
  color: #707070;
  margin-bottom: 10px;
}

.startCourse{
  padding: 50px 0 35px 100px ;
}
.startTitle{
  font-size: 35px;
  font-weight: 600;
  color: #212529;
  padding: 0 0 30px 0;
}
.startsub{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
  gap: 20px;
  font-size: 16px;
  padding-left: 30px;
  color:#323638;
  font-weight: 500;
}
.startIcon{
  color:rgba(0, 128, 0, 0.548);
}


.learner{
  /* display: flex;
  flex-wrap: wrap;
  gap: 40px;
  width: 100%;*/
 padding: 15px 0 20px 100px ;
 width: 70%;
}
.learnTitle{
  font-size: 35px;
  font-weight: 600;
  color: #212529;
  padding: 0 0 40px 0;
}
.learnerContainer{
  display:flex;
  flex-wrap: wrap;
  gap: 40px;
  /* flex-wrap: wrap; */
  /* width: 70%; */
  border-radius: 10px;
  margin: 0 30px 10px;
  color: #707070;
}
.lc{
  width:45%;
  background-color: #e9ecf0;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  padding: 20px;
}
  
  /* @media screen and (max-width: 968px) {
        .row {
        flex-direction: column;
        align-items: flex-start;
        width: fit-content;
        max-width: 100%;
      }
      .col{
          margin-block-start: 5px;
      margin-block-end: 5px;
      }
  } */
  @media screen and (max-width: 802px){
 
      .priceNum{
        max-width: 100%;
        /* width:70%; */
        font-size: 20px;
      }
      .row {
        flex-direction: column;
        align-items: center;
        /* align-items: flex-start; */
        width: auto;
        max-width: 100%;
      }
      .col{
          margin-block-start: 5px;
      margin-block-end: 5px;
      flex-direction: column;
      align-items: center;
      }
      .bannerContainer{
        width: 80%;
      }
      .border{
        border-bottom: 1px solid white;
        width: 90%;
        /* margin: 5px 0 5px; */
      }
  }
@media screen and (max-width: 768px) {
    .lessonBanner {
        padding-top: 2rem;
        padding-bottom: 1rem;
    }
    .lessonContent{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .lessonPath {
        padding: 0px 0px 15px 30px;
        font-size: large;
    }

    .bannerContent{
        padding:10px 0 10px 75px ;
    }
    .lessonTitle{
        width: 90%;
    }   
  
      .fixedForm {
        position: relative;  
        width: 100%;
        margin: 0%;
      }

      .lessonContent-2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 50px 0 0 0 ;
        text-align: center;
      }

      .lessonFeatures {
        padding: 15px 0 20px 50px;
    }

    .keyCard1 {
        flex-direction: column;
    }

    .kc1 {
        width: 100%;
    }
}
  
@media screen and (min-width: 493px) and (max-width: 1206px) {
    .fixedForm {
      display: none;
    }
    .c2HeadContent{
        width: 90%;
    }

    .lessonContent{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80%;
  }
  }

  @media screen and (max-width: 900px){
  
    .row {
      flex-direction: column;
      align-items: center;
      /* align-items: flex-start; */
      width: auto;
      max-width: 100%;
    }
    .col{
        margin-block-start: 5px;
    margin-block-end: 5px;
    flex-direction: column;
    align-items: center;
    }
    .bannerContainer{
      width: 80%;
    }
    .border{
      border-bottom: 1px solid white;
      width: 90%;
      /* margin: 5px 0 5px; */
    }
  .lessonFeatures {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 50px 0 0 0 ;
  }
  .keyCard1 {
      flex-direction: column;
  }
  .kc1 {
    width: 100%;
}

  .lessonTopic{
    /* padding: 15px 0 20px 50px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 50px 0 0 0 ;
  }
  .moduleGroup{
    width: 90%;
    /* margin-left:40px; */
  }
  .module{
    width: 100%;
    padding-right: 20px;
    
  }

  .startCourse{
    /* padding: 15px 0 20px 50px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 50px 0 0 0 ;
  }
  .startTitle{
    text-align: center;
    /* margin-right: 50px; */
  }
  .startsub{
    padding-right:50px;
    padding-left: 50px;
    
  }

  .learner{
    /* padding: 15px 0 20px 50px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0 0 0 ;
    width: 100%;
  }
  .learnTitle{
    text-align: center;
    width: 90%;
  }
  .learnerContainer{
    padding-right:50px;
    padding-left: 50px;
    gap: 20px;
  }
  .lc{
    width: 100%;
  }
  }



