
.courseContainer{
    max-width: 1300px;
    width: 100%;
    margin: auto;
    padding: 0 20px;
    /* background-color: #1d39c4; */
}
section{
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    /* align-items:start; */
}
section .courseHead {
    /* justify-self: center; */
    margin-bottom: 40px;
    color: #111;
    font-size: 40px;
    font-weight: 700;
    margin: 30px 0 30px 6px;
    color: #111111cb;
    /* line-height: 60px; */
    /* text-align: center; */
  }
.courseCards{
    display: flex;
    flex-wrap: wrap;
    /* flex-wrap: 4; */
    /* justify-content: space-between; */
    gap: 30px;
    width: 100%;
    
} 
.courseImg{
  background-color:#1d39c4;
  /* max-width: 100%; */
  /* max-height: 100%; */
  /* object-fit: cover; */
  height: 160px;
  width:100%;
  border-radius: 10px 10px 0 0;
  /* margin-bottom: 8px; */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); 
 
}
.courseCard{
    /* display: flex; */
    /* flex-direction: column; */
    flex: 0 0 calc(33.33% - 130px);
    max-width: calc(33.33% - 20px);
    width: 100%;
    background: #fff;
    /* padding: 20px; */
    margin-bottom: 20px;
    border-radius: 10px;
    /* border: 2px solid transparent; */
    transition: 0.3s;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); 
    color: gray;
 
}
.courseCard:hover{
  color:rgb(58, 56, 56);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35); 

}

.courseCard:hover{
    border-color: #1d39c4;
}

.courseCard h3{
    font-size: 24px;
    /* color: #000000; */
    margin: 10px 20px 10px 20px;
}
.courseButton {
  margin-top: auto;
}
.courseCard p{
  /* display: flex;
  flex-wrap: wrap; */
  color:aqua;
  margin-left: 10px;
}

.enrolled-sub-text{
  display: flex;
  /* justify-content: flex-end; */
  gap: 15px;
  font-size: 14px;
  font-weight: 350;
  font-stretch:ultra-expanded;
  color: #555758b9;
  margin-left: 20px;
  margin-bottom: 30px;
}
.price{
  font-size: 20px;
  font-weight: 700;
  font-stretch:ultra-expanded;
  color: #65c72d;
  margin-left: 20px;
}
button{
  display: flex;
  align-items: center;
  justify-content: center;
}
.courseButton{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.courseCard .courseBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    /* max-width: 120px; */
    width: 80%;
    background: #1d39c4;
    border: none;
    outline: none;
    border-radius: 10px;
    height: 40px;
    margin-top: 20px;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
    border: 1px solid #1d39c4;
}
.courseCard .courseBtn:hover{
    color: #1d39c4;
    background: transparent;
}
@media (max-width: 1050px) {
  .courseCard {
    flex: 0 0 calc(50% - 200px);
    max-width: calc(50% - 10px);
    text-align: center;
  }
  .sub-text{
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
  }
  h3{
    margin-right: 5px;
  }
}

@media (max-width: 969px) {
    section{
      padding: 30px 0px;
    }
    section h1 {
      font-size: 40px;
    }
    .courseCard {
      flex: 0 0 calc(50% - 20px);
      max-width: calc(50% - 10px);
      text-align: center;
    }
    .sub-text{
      display: flex;
      justify-content: center;
      align-items: center;
      /* text-align: center; */
    }
    .courseImg{
      display: none;
    }
  }
  @media (max-width: 767px) {
  
    .courseCard {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }