/** UserHomeEvents **/
.event-main{
  width: 100%;
  min-height:100vh;
  padding: 50px 30px 50px 50px;
  background-color:#e9ecf0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.event-card {
  width: 300px;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 10px;
  transition: box-shadow 0.3s ease;
  max-height: 300px; 
  overflow-y: auto;
}
.event-card:hover{
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); 
}
.event-card-title{
  font-size: 28px;
  color:gray;
  font-weight: 700;
  padding:0px 0 8px 0px;
}
.event-card-category{
  font-size: 14px;
  color: rgb(80, 79, 79);
  padding: 0px 0 40px 0;
}
.event-card-button {
  text-align: center;
}
.event-card:hover{
  color: rgb(39, 38, 38);
}


/** UserEvents **/
.event-top{
display: flex;
justify-content: space-between;
align-items: center;
margin:50px 50px 0 50px;
}
.eventSubTitle{
    font-size: 30px;
    font-weight: 700;
    color: rgba(77, 77, 77, 0.699);
}
.eventSub {
    margin: 35px 50px 35px 50px;
    padding: 30px 20px 20px 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  .event-ques{
    font-weight: 700;
  }
  
  .eventSubTitle {
    font-weight: bold;
  }
  
  label {
    display: block;
    margin: 20px 0;
    cursor: pointer;
  }
  
  input[type="radio"] {
    margin-right: 10px;
    vertical-align: middle;
    width: 20px;
    cursor: pointer;
  } 
 .submitBtn button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .submitBtn button:hover {
    background-color: #0056b3;
  }
  .notification {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 20px;
    margin-left:37% ;
    width: fit-content;
    padding: 20px;
    background-color: #333;
    color: white;
    text-align: center;
    font-weight: bold;
  }
  .success {
    background: linear-gradient(green,rgb(4, 131, 4));
    border-radius: 10px;
    width: 400px;
  }
  .error {
    background: linear-gradient(#c9170b,rgb(211, 48, 19));
    border-radius:10px;
  }
  